# Binary data types
*.aif binary
*.aifc binary
*.aiff binary
*.au binary
*.bmp binary
*.db binary
*.exe binary
*.icns binary
*.gif binary
*.ico binary
*.jpg binary
*.pck binary
*.png binary
*.tar binary
*.wav binary
*.whl binary
*.zip binary
# Specific binary files
Lib/test/sndhdrdata/sndhdr.* binary
# Text files that should not be subject to eol conversion
Lib/test/cjkencodings/* -text
Lib/test/decimaltestdata/*.decTest -text
Lib/email/test/data/*.txt -text
Lib/test/xmltestdata/* -text
# Special files in third party code
Modules/zlib/zlib.map -text
# CRLF files
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sln text eol=crlf
*.vcxproj* text eol=crlf
*.vcproj text eol=crlf
*.vsprops text eol=crlf
*.props text eol=crlf
*.proj text eol=crlf
PCbuild/readme.txt text eol=crlf
PC/readme.txt text eol=crlf
android_arm filter=lfs diff=lfs merge=lfs -text
android_regen.sh filter=lfs diff=lfs merge=lfs -text
PC filter=lfs diff=lfs merge=lfs -text
android_x86_64 filter=lfs diff=lfs merge=lfs -text
Grammar filter=lfs diff=lfs merge=lfs -text
PCbuild filter=lfs diff=lfs merge=lfs -text
pyconfig.h.in filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
darwin_x86_64 filter=lfs diff=lfs merge=lfs -text
Demo filter=lfs diff=lfs merge=lfs -text
Mac filter=lfs diff=lfs merge=lfs -text
RISCOS filter=lfs diff=lfs merge=lfs -text
setup.py filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
Lib filter=lfs diff=lfs merge=lfs -text
Python filter=lfs diff=lfs merge=lfs -text
Misc filter=lfs diff=lfs merge=lfs -text
Objects filter=lfs diff=lfs merge=lfs -text
config.sub filter=lfs diff=lfs merge=lfs -text
Include filter=lfs diff=lfs merge=lfs -text
Launcher filter=lfs diff=lfs merge=lfs -text
Makefile.pre.in filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
Parser filter=lfs diff=lfs merge=lfs -text
config.guess filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
Doc filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
Modules filter=lfs diff=lfs merge=lfs -text
Tools filter=lfs diff=lfs merge=lfs -text
android_arm64 filter=lfs diff=lfs merge=lfs -text
android_x86 filter=lfs diff=lfs merge=lfs -text
linux_x86_64 filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
